{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person">

  <div class="author__avatar">
    {% if author.avatar contains "://" %}
    	<img src="{{ author.avatar }}" alt="{{ author.name }}">
    {% else %}
    	<img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar" alt="{{ author.name }}">
    {% endif %}
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>

    {% if author.occupation %}<p class="author__occupation">{{ author.occupation }}</p>{% endif %}
 <a href="http://ece.snu.ac.kr/en" target="_blank"><p class="author__school">Electrical and Computer Engineering</a> 
<a href="http://en.snu.ac.kr/" target="_blank"><p class="author__college">Seoul National University</a></p> 

    {% if author.location %}<p class="author__location">{{ author.location}}</p>{% endif %}
    {% if author.Phone %}<p class="author__Phone">{{ author.Phone}}</p>{% endif %}
    <p class="author__college"><br> Research Group:<br> 
Control and Optimization Research (<a href="http://coregroup.snu.ac.kr/" target="_blank">CORE</a>) Lab</p><br> 
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">Follow</button>
    <ul class="author__urls social-icons">
      {% if author.email %}
        <li><a href="mailto:{{ author.email }}"><i class="fas fa-fw fa-envelope icon-pad-right" aria-hidden="true"></i>{{ site.data.ui-text[site.locale].email_label | default: "Email" }}</a></li>
      {% endif %}
    </ul>
  </div>
</div>
