{% include base_path %}

<nav class="blog-nav">
  <h4 class="blog-nav__title"><a href="{{ base_path }}/physicalai/">Physical AI Notes</a></h4>
  <p class="blog-nav__author"><a href="{{ base_path }}/">Insoon Yang</a></p>

  {% for topic in site.data.blog_nav %}
    {% assign topic_posts = site.posts | where: "series", topic %}
    <span class="blog-nav__topic">{{ topic }}</span>
    {% if topic_posts.size > 0 %}
      <ul class="blog-nav__list">
        {% for post in topic_posts %}
          <li class="blog-nav__item{% if post.url == page.url %} blog-nav__item--active{% endif %}"><a href="{{ base_path }}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="blog-nav__empty">Coming soon.</p>
    {% endif %}
  {% endfor %}
</nav>
